
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Locator</title>
    <script src="/js/style.js"></script>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body class="bgimg-1">
    <div class="container">
      <div class="header clearfix">
        <nav class="navbar navbar-dark navbar-my-custom">
          <a class="navbar-brand" href="/">Explorer</a>
          <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </nav>
      </div>

      {{{body}}}

      <footer class="footer">
        <p>&copy; 2018 Company, Inc.</p>
      </footer>

    </div>
  </body>
</html>
