<div class="jumbotron">
  <h2>
    Explore your favoirite city
  </h2>
  <p class="lead">Explore the area. Search for your favourite place to hangout and have fun or search for schools, 
    univeristies or other business places. You have access to over one hundered million places and their details at the touch of a button. 
    This is made possible using google's map APIs.
  </p>
  <p>
    <a class="btn btn-lg btn-success" href="/search" role="button">
      Search
    </a>
  </p>
</div>