<div class="jumbotron">
  <h2 class="display-5">Locate a business</h2>
  <p class="lead">Locate a business based on city, state or zip. With option to select which type of business you want to search.</p>
  <p><a class="btn btn-lg btn-success" href="/search" role="button">Search...</a></p>
</div>