
<div class="jumbotron">
    <div class="container">
        <h3 class="page-header">Search Options</h3>
        <form method="post" action="/search">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" name="city">
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" placeholder="State" name="state">
            </div>
            <div class="form-group">
                <label>ZIP Code</label>
                <input type="email" class="form-control" placeholder="ZIP Code" name="zipcode">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>