.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("/images/bg.jpg");
  height: 100%;
}
.navbar-my-custom{
  background-color: rgb(221, 221, 221);
}

.custom-select{
    border-color: #28a745
}
.custom-select{
    border-color: #28a745;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25)
}